name: Publicacion Automatica

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Compilando para Android y Windows
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Android APK
        run: flutter build apk --release

      - name: Build Windows EXE
        run: flutter build windows --release

      - name: Create Release and Upload Artifacts
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/app/outputs/flutter-apk/app-release.apk
            build/windows/runner/Release/myapp.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
